.btn {
    -fx-background-color: blue;
}

.body {
	-fx-background-color: black;
}

.body2 {
	-fx-background-color: #433C3C;
}

.body3 {
	-fx-background-color: #574D4D;
}

.body4 {
	-fx-background-color: #433C3C;
}